In [1]:
#############################################################################################################
############################## EDW - AIparking - IA Full Stack ##############################################
#############################################################################################################

# 1. Creamos el proyecto en BigQuery: aiparking-451016
# 2. Definimos la estructura de la base de datos (ver AIparking.pdf AIparking como mapa de entidades de la base de datos)
# 3. Generamos datos dummies

In [2]:
# Instalar la biblioteca de BigQuery en Colab
!pip install --upgrade google-cloud-bigquery

# Autenticación con Google Cloud
from google.colab import auth
auth.authenticate_user()

Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.11/dist-packages (3.29.0)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.11.1 in /usr/local/lib/python3.11/dist-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (2.24.1)
Requirement already satisfied: google-auth<3.0.0dev,>=2.14.1 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery) (2.27.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=2.4.1 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=20.0.0 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery) (24.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.3 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.67.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.11/dist-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (4.25.6)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.26.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.70.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.11/dist-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.62.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (5.5.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.11/dist-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.11/dist-packages (from google-resumable-media<3.0dev,>=2.0.0->google-cloud-bigquery) (1.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil<3.0dev,>=2.7.3->google-cloud-bigquery) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2025.1.31)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.11/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.6.1)

In [3]:
from google.cloud import bigquery

# Definimos el cliente y el dataset
project_id = 'aiparking-451016'
dataset_id = '00_aiparking'
client = bigquery.Client(project=project_id)

In [4]:
# Lista de tablas a eliminar
tables_to_drop = [
    'parking', 'accesos', 'tarifa', 'abonados', 'tipo_vehiculo'
    ]

# Eliminamos las tablas
for table_name in tables_to_drop:
    try:
        client.query(f'DROP TABLE IF EXISTS `{project_id}.{dataset_id}.{table_name}`').result()
        print(f"Tabla {table_name} eliminada exitosamente.")
    except Exception as e:
        print(f"Error al eliminar la tabla {table_name}: {e}")

Tabla parking eliminada exitosamente.
Tabla accesos eliminada exitosamente.
Tabla tarifa eliminada exitosamente.
Tabla abonados eliminada exitosamente.
Tabla tipo_vehiculo eliminada exitosamente.

In [5]:
# Útil para generar identificadores únicos en BQ
import uuid

In [6]:
# Creamos la tabla parking
create_table_query = f"""
CREATE TABLE `{project_id}.{dataset_id}.parking` (
    parking_id STRING NOT NULL,
    nombre_parking_ds STRING NOT NULL,
    direccion_ds STRING NOT NULL,
    capacidad_nm INT64 NOT NULL,
    horario_apertura_tm TIME NOT NULL,
    horario_cierre_tm TIME NOT NULL,
    camara_in_id STRING NOT NULL,
    camara_out_id STRING NOT NULL
);
"""
client.query(create_table_query).result()
print("Tabla 'parking' creada exitosamente.")

Tabla 'parking' creada exitosamente.

In [7]:
parking_dummy_data = [
    ("parking_001", "Parking Central", "Av. Principal 123, Ciudad", 200, "08:00:00", "22:00:00", "camara_in_001", "camara_out_001"),
    ("parking_002", "Estacionamiento Sur", "Calle Ficticia 456, Ciudad", 150, "07:30:00", "21:30:00", "camara_in_002", "camara_out_002"),
    ("parking_003", "Park In Town", "Calle Larga 789, Ciudad", 100, "09:00:00", "20:00:00", "camara_in_003", "camara_out_003"),
    ("parking_004", "Estacionamiento Norte", "Avenida Norte 101, Ciudad", 250, "06:00:00", "23:00:00", "camara_in_004", "camara_out_004"),
    ("parking_005", "Parking 24h", "Calle 24h 202, Ciudad", 120, "09:00:00", "23:00:00", "camara_in_005", "camara_out_005")
]

# Consulta de inserción de datos
insert_query = f"""
INSERT INTO `{project_id}.{dataset_id}.parking` (
    parking_id, nombre_parking_ds, direccion_ds, capacidad_nm,
    horario_apertura_tm, horario_cierre_tm, camara_in_id, camara_out_id
)
VALUES
"""

# Crear los valores a insertar
insert_values = ", ".join([f"('{row[0]}', '{row[1]}', '{row[2]}', {row[3]}, '{row[4]}', '{row[5]}', '{row[6]}', '{row[7]}')" for row in parking_dummy_data])

# Completar la consulta
insert_query += insert_values

# Ejecutar la consulta de inserción
client.query(insert_query).result()
print("Datos dummy insertados correctamente en la tabla 'parking'.")

Datos dummy insertados correctamente en la tabla 'parking'.

In [8]:
# Creamos la tabla accesos
create_table_query = f"""
CREATE TABLE `{project_id}.{dataset_id}.accesos` (
    matricula_id STRING NOT NULL,
    parking_id STRING NOT NULL,
    fecha_registro_dt DATETIME NOT NULL,
    camara_in_id STRING,
    camara_out_id STRING,
    tarifa_id STRING NOT NULL,
    marca_ds STRING,
    modelo_ds STRING,
    color_ds STRING,
    tipo_vehiculo_id STRING NOT NULL
);
"""
client.query(create_table_query).result()
print("Tabla 'accesos' creada exitosamente.")

Tabla 'accesos' creada exitosamente.

In [9]:
# Datos dummy para accesos
accesos_dummy_data = [
    ("0265LKL", "parking_001", "2024-12-01 14:01:23", "camara_in_001", "", "tarifa_001","seat","leon","","1"),
    ("0265LKL", "parking_001", "2024-12-01 18:11:53", "", "camara_out_002", "tarifa_001","seat","leon","","1"),
    ("0225KKL", "parking_002", "2024-12-01 20:01:23", "camara_in_003", "", "tarifa_001","","","","1"),
    ("1265DEF", "parking_003", "2024-12-10 10:01:25", "camara_in_004", "", "tarifa_001","bmw","serie 3","negro","1"),
    ("1234MNO", "parking_003", "2024-12-15 11:01:24", "camara_in_005", "", "tarifa_005","ford","mustang","","1"),
    ("0277LKB", "parking_003", "2024-12-25 14:01:23", "camara_in_005", "", "tarifa_002","toyota","corolla","","1")
]

# Consulta de inserción de datos
insert_query = f"""
INSERT INTO `{project_id}.{dataset_id}.accesos` (
    matricula_id, parking_id, fecha_registro_dt, camara_in_id, camara_out_id, tarifa_id, marca_ds, modelo_ds, color_ds, tipo_vehiculo_id
)
VALUES
"""

# Crear los valores a insertar
insert_values = ",\n".join([f"('{row[0]}', '{row[1]}', '{row[2]}', '{row[3]}', '{row[4]}', '{row[5]}', '{row[6]}', '{row[7]}', '{row[8]}', '{row[9]}')" for row in accesos_dummy_data])

# Completar la consulta
insert_query += insert_values

# Ejecutar la consulta de inserción
client.query(insert_query).result()
print("Datos dummy insertados correctamente en la tabla 'accesos'.")

Datos dummy insertados correctamente en la tabla 'accesos'.

In [10]:
# Creamos la tabla tarifa
create_table_query = f"""
CREATE TABLE `{project_id}.{dataset_id}.tarifa` (
    tarifa_id STRING NOT NULL,
    tarifa_ds STRING NOT NULL,
    precio_nm FLOAT64 NOT NULL,
);
"""
client.query(create_table_query).result()
print("Tabla 'tarifa' creada exitosamente.")

Tabla 'tarifa' creada exitosamente.

In [11]:
# Datos dummy para tarifas
tarifas_dummy_data = [
    ("tarifa_001", "laboral_coche", 0.05),
    ("tarifa_002", "festivo_coche", 0.09),
    ("tarifa_003", "laboral_moto", 0.02),
    ("tarifa_004", "festivo_moto", 0.04),
    ("tarifa_005", "abonado_coche", 0.02),
    ("tarifa_006", "abonado_moto", 0.01)
]

# Consulta de inserción de datos para tarifas
insert_query_tarifa = f"""
INSERT INTO `{project_id}.{dataset_id}.tarifa` (
    tarifa_id, tarifa_ds, precio_nm
)
VALUES
"""

# Crear los valores a insertar
insert_values_tarifa = ",\n".join([f"('{row[0]}', '{row[1]}', {row[2]})" for row in tarifas_dummy_data])

# Completar la consulta
insert_query_tarifa += insert_values_tarifa

# Ejecutar la consulta de inserción
client.query(insert_query_tarifa).result()
print("Datos dummy insertados correctamente en la tabla 'tarifa'.")

Datos dummy insertados correctamente en la tabla 'tarifa'.

In [12]:
# Creamos la tabla tipo_vehiculo
create_table_query = f"""
CREATE TABLE `{project_id}.{dataset_id}.tipo_vehiculo` (
    tipo_vehiculo_id STRING NOT NULL,
    tipo_vehiculo_ds STRING NOT NULL
);
"""
client.query(create_table_query).result()
print("Tabla 'tipo_vehiculo' creada exitosamente.")

Tabla 'tipo_vehiculo' creada exitosamente.

In [13]:
# Datos dummy para tipo_vehiculo
tipo_vehiculo_dummy_data = [
    ("1", "coche"),
    ("2", "moto")
]

# Consulta de inserción de datos para tipo_vehiculo
insert_query_tipo_vehiculo = f"""
INSERT INTO `{project_id}.{dataset_id}.tipo_vehiculo` (
    tipo_vehiculo_id, tipo_vehiculo_ds
)
VALUES
"""

# Crear los valores a insertar
insert_values_tipo_vehiculo = ",\n".join([f"('{row[0]}', '{row[1]}')" for row in tipo_vehiculo_dummy_data])

# Completar la consulta
insert_query_tipo_vehiculo += insert_values_tipo_vehiculo

# Ejecutar la consulta de inserción
client.query(insert_query_tipo_vehiculo).result()
print("Datos dummy insertados correctamente en la tabla 'tipo_vehiculo'.")

Datos dummy insertados correctamente en la tabla 'tipo_vehiculo'.

In [14]:
# Creamos la tabla abonados
create_table_query = f"""
CREATE TABLE `{project_id}.{dataset_id}.abonados` (
    matricula_id STRING NOT NULL,
    fecha_alta_dt DATETIME NOT NULL,
    fecha_baja_dt DATETIME
);
"""
client.query(create_table_query).result()
print("Tabla 'abonados' creada exitosamente.")

Tabla 'abonados' creada exitosamente.

In [15]:
# Datos dummy para abonados
abonados_dummy_data = [
    ("1234MNO", "2024-12-01 00:00:00", None)
]

# Consulta de inserción de datos para abonados
insert_query_abonados = f"""
INSERT INTO `{project_id}.{dataset_id}.abonados` (
    matricula_id, fecha_alta_dt, fecha_baja_dt
)
VALUES
"""

# Crear los valores a insertar, manejando correctamente NULL para BigQuery
insert_values_abonados = ",\n".join([
    f"('{row[0]}', '{row[1]}', {'NULL' if row[2] is None else repr(row[2])})"
    for row in abonados_dummy_data
])

# Completar la consulta
insert_query_abonados += insert_values_abonados

# Ejecutar la consulta en BigQuery
client.query(insert_query_abonados).result()

print("Datos dummy insertados correctamente en la tabla 'abonados'.")

Datos dummy insertados correctamente en la tabla 'abonados'.